name: Build Docker Image

on: 
    push:
        branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v2.3
            - name: set up Docker buildx
              uses: docker/setup-buildx-action@v2

            - name: Build docker image
              run: docker build -t devops-app:latest .  
